OPENAI_API_KEY = ""
CHAT_MODEL = "gpt-4.1"

# == EMBEDDINGS == #
EMBEDDING_MODEL = "text-embedding-3-small"

# == ENV VARS == #
DATASET_STORAGE_FOLDER = "2_retrieval_augmented_generation/datasets/"

# == CHROMA COLLECTION NAME == #
DATABASE_LOCATION = "chroma_db"
COLLECTION_NAME = "rag_data"